*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-image: url('../images/banner/banner2.png');
    background-size: cover;
    height: 100vh;
}
.banner{
    
    text-align: right;

 }
 .banner-title{
    padding-top: 282px;
    padding-right: 150px;
    font-weight: 700;
    font-size: 45px;
    color: #181818;
   
   }
   .banner-description{
    padding-top: 2px;
    padding-right: 150px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    
   }
   .btn-contact{
    color: #fff; 
border: 0; 
font-weight: 700;
font-size: 20px;
height: 64px;
padding: 18px 35px;
margin: 25px 146px;
background: #FD6E0A;
border-radius: 5px;
   }
   .about{
    background: rgb(226, 218, 218);
    border-radius: 10px;
    padding: 150px 150px;
   }
   .about-item{
    display: flex;
    gap: 300px;
   }
   .about-title{
    font-weight: 700;
font-size: 40px;
margin-top: 135px;
color: #151414;
   }
   .about-des{
    margin-top: 15px;
   }
  .list li{
    text-decoration: none;
    margin-top: 8px;
   }